/* Layout
body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;

}
h2 {
    color:red;
    font-size:64px;
    text-transform: uppercase;
}

p {

    font-size:30px;
}

ul{
    color: blue;
} */
/*************** Class ve ID Kullanımı ******************/
/* class -> .text-red {} */
/* id -> #id-bilgisi {} */

/****************ID*******************************/

h1,h2,h3,h4,h5,h6{
    color:red;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}
#first-article{
    font-size: 40px;
}

/****************Class*******************************/
.text-red{
    color:red;
}
.fs-14{
    font-size: 14px;
} 
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}


